{% extends 'base.html.twig' %}

{% block title %}
	Project_rdp - Acceuil!
{% endblock %}

{% block body %}
	{{ parent() }}
	<!-- Début Titre -->
	<div class="title">
		<h1 class="home1">Projet - RDP</h1>
	</div>
	<!-- Fin Titre -->

	<!-- Début div Numéro de téléphone-->
	<div id="tel">
		<i class="fa-solid fa-phone"></i>
		<p class="tel">07 69 96 14 71</p>
	</div>
	<!-- Fin div Numéro de téléphone-->
{% endblock %}
