{% extends 'base.html.twig' %}

{% block title %}Project_rdp - Acceuil!{% endblock %}

{% block body %}

 
  <div class="picture">
   <img src="https://i.goopics.net/kn9pe.jpg" alt="page d'acceuil"/>
  </div>

{% endblock %}
