{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div id="header">
<nav class="navs">
    <ul>
        <li class="nav"><a href="#">Accueil</a></li>
        <li class="nav"><a href="#">Devis</a></li>
      <li class="nav"><a href="#">Contact</a></li>
    </ul>
</nav>
</div>

  <div class="picture">
   <img src="" alt="page d'acceuil"/>
  </div>

{% endblock %}
