{% extends 'base.html.twig' %}

{% block title %} Projet RDP | Mentions légales {% endblock %}

{% block body %}

<div>
<h1 class="titre_n1">MENTION LÉGALES</h1>

Informations légales
​​​​​​<!-- section 1 -->

<div class="section_ML">
<h5 class="titre_ML"><strong>Présentation de l'entreprise</strong></h5>

<p class="text_ML">
En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisateurs du site auto-remorquage-depannage.fr l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi :
​
Propriétaire : Remorquage Dépannage Pros

Siège social : 7bis Impasse Marius Chardon 69230 Saint Genis Laval

Téléphone : 0769961471

Email de contact : remorquagedepannagepros@gmail.com

Responsable publication : REMORQUAGE DEPANNAGE PROS (personne physique)

Siret ( siège) : 79385128800043

Numéro TVA: NFR79793851288

Hébergeur : Wix.com

Siège social hébergeur :  40 PORT DE TEL AVIV 99207 TEL AVIV JAFFA
    </p>
</div>
<!-- end sections 1 -->

<!-- section 2 -->

<div class="section_ML">
<h5 class="titre_ML"><strong>Conditions d’utilisation</strong></h5>

<p class="text_ML">
L’utilisation de ce site Internet vaut acceptation des conditions mentionnées ci-après.

Le site auto-remorquage-depannage.fr se réserve la possibilité d’engager des poursuites en cas de violation de ces conditions d’utilisation.

Notamment en cas de non-respect et d’utilisation non autorisée des noms et emblèmes du site auto-remorquage-depannage.fr  ou en cas de violation des droits liés à l’information, au graphisme, aux textes, vidéos, documents audio, photos et images et plus généralement à l’ensemble du contenu du site.
    </p>
</div>
<!-- end sections 2 -->
​
<!--  sections 3 -->

<div class="section_ML">
<h5 class="titre_ML"><strong>Respect des lois en vigueur</strong></h5>

<p class="text_ML">
Le site auto-remorquage-depannage.fr respecte la vie privée de l’internaute et se conforme strictement aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.

Aucune information personnelle n’est collectée à votre insu.

Aucune information personnelle n’est cédée à des tiers.

Les courriels, les adresses électroniques ou autres informations nominatives dont ce site est destinataire ne font l’objet d’aucune exploitation et ne sont conservés que pour la durée nécessaire à leur traitement. 
    </p>
</div>
​<!-- end sections 3 -->


<div class="section_ML">
<h5 class="titre_ML"><strong>Droit des internautes :</strong></h5>

<p class="text_ML">
droit d’accès et de rectification
Conformément aux dispositions de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, les internautes disposent d’un droit d’accès, de modification, de rectification et de suppression des données qui les concernent.

Ce droit s’exerce en justifiant de son identité à l’adresse mail suivante : remorquagedepannagepros@gmail.com
    </p>
</div>
​<!--  sections 4 -->


<div class="section_ML">
<h5 class="titre_ML"><strong>Liens</strong></h5>

<p class="text_ML">
Les responsables de services en ligne qui créent des liens vers le présent site sont tenus d’en informer le webmaster.

Le site auto-remorquage-depannage.fr peut comporter des liens vers d’autres sites qui ne sont pas sous contrôle permanent.

Ces liens sont considérés comme utiles et pouvant enrichir l’information présente sur le site.

Le site auto-remorquage-depannage.fr n’endosse aucune responsabilité relative à ces sites, notamment en ce qui concerne l’exactitude ou la fiabilité des informations, des données et des opinions qui y figurent.
    </p>
</div>
​<!-- end sections 4 -->

​<!-- sections 5 -->
<div class="section_ML">
<h5 class="titre_ML"><strong>Protection des données personnelles</strong></h5>

<p class="text_ML">
Vous êtes amené(e) à communiquer des informations personnelles notamment lors de l’utilisation du formulaire de contact. Les informations que vous transmettez sont à usage exclusif du site auto-remorquage-depannage.fr et ne seront en aucun cas transmises à des tiers.

Tout utilisateur ayant communiqué des informations directement ou indirectement nominatives, peut demander la communication de ces informations à l’administrateur du service et les faire rectifier le cas échéant, conformément à la loi française N 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés.

Pour exercer ce droit, adressez-vous au webmaster.

Nous vous informons que la confidentialité des correspondances transmises par le réseau Internet n’est pas garantie.
    </p>
</div>
​​<!-- end sections 5 -->

​​<!--  sections 6 -->
<div class="section_ML">
<h5 class="titre_ML"><strong>Décharge de responsabilité</strong></h5>

<p class="text_ML">
Le site auto-remorquage-depannage.fr effectue les démarches nécessaires pour assurer la fiabilité des informations contenues dans ce site. Cependant, elle ne peut encourir une quelconque responsabilité du fait d’erreurs, d’omissions ou des résultats qui pourraient être obtenus à la suite de l’usage des informations diffusées.

Le site auto-remorquage-depannage.fr n’est tenue qu’à une obligation de moyens concernant les informations mises à disposition sur le site.

De même, elle n’est en aucun cas responsable de l’infection par des virus ou de tout autre problème informatique ayant des effets destructeurs.
    </p>
</div>
​​​<!-- end sections 6 -->

​​<!-- end sections 7 -->

<div class="section_ML">
<h5 class="titre_ML"><strong>Données à caractère personnelles</strong></h5>

<p class="text_ML">
Les données à caractère personnel feront l’objet d’un traitement informatique destiné exclusivement à auto-remorquage-depannage.fr et pourront être utilisées de la manière suivante:

     - Études statistiques : ces études statistiques sont strictement confidentielles ;

     - Suivi de la relation client : si vous nous faites parvenir un message, les données sont conservées et utilisées afin d’apporter une réponse à votre demande et en assurer le suivi.

     - Fourniture de services : l’envoi de newsletters.

Vous reconnaissez que les données que vous nous communiquez et qui sont stockées dans nos systèmes d’information sont exactes et valent preuve de votre identité.

Nous vous remercions de bien vouloir nous faire part de toute éventuelle modification de ces données.
    </p>
</div>
​​<!-- end sections 7 -->

​​<!--  sections 8 -->

<div class="section_ML">
<h5 class="titre_ML"><strong>Information relatives aux paiements</strong></h5>

​  
 <p class="text_ML">

Vous pouvez régler :

Par carte bancaire : Carte Bleue, E-Carte Bleue, Visa, Mastercard, carte American Express.

Par espèces

Nous vous informons qu'en vertu de l'article L113-3 du code de la consommation, nous n'acceptons pas les chèques.

Note : nous ne sauvegardons pas les détails de carte de crédit de nos clients.
</p>
</div>
​​​<!-- end sections 8 -->

​​<!--  sections 9 -->

<div class="section_ML">
<h5 class="titre_ML"><strong>Hébergement</strong></h5>

<p class="text_ML">
Wix.com

40 PORT DE TEL AVIV 99207 TEL AVIV JAFFA    
</p>
</div>
​​<!-- end sections 9 -->

​​<!--  sections 10 -->

<div class="section_ML">
<h5 class="titre_ML"><strong>Information légales</strong></h5>

<p class="text_ML">
Pour toute demande de prestation le devis est gratuit.

Une majoration des prix de 40% sera appliquée en semaine de 20h à 6h, le week-end et les jours fériés.    
</p>
</div>
​​<!-- end sections 10 -->

{% endblock %}