/********** Header ************/

#container{
    background-color: grey;
}



nav {
    border-bottom: 1px solid black;
    background-color:grey;
    text-decoration:none;

}

.nav ul {
    list-style-type: none;
    padding-left: 0;
}

.nav {
    display: inline-block;
}

.nav a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 10px;
 
}

.nav a {
  text-decoration:none;
  color:white;
}

.tel{
  text-decoration:none;
}


/***************** FOOTER *********************/


/******** Menu ************************/

.menus{
    background-color: #2A2A2A; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;

}

.menus{
    background-color: #2A2A2A; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.menus li {
    display: inline-block;
    font-size: 12px;
    padding: 20px;
  }
  
  .menus > a {
    text-decoration:none;
    color:#FFC824;
  }


/******** Copyright ***************/
.copyright {
    background-color: #2A2A2A; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .copyright li {
    display: inline-block;
    font-size: 12px;
    padding: 20px;
  }
  
  .copyright a {
    text-decoration:none;
    color:white;
  }

.copyright>p{
    color:white;
    text-align: center;
}
/************************************************/